body {
  margin: 0;
  width: 100vm;
  height: 100vh;

font-family: 'Comic Sans MS', sans-serif;

display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
  background-color: Turquoise;
  color: Red;
  padding: 0.25em;
  border-radius: 0.1em;

}
