body {
  margin: 0;
  width: 100vm;
  height: 100vh;

font-family: 'Comic Sans MS', sans-serif;

display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
}

ul {
  padding: 0;
  list-style: none;
}
